## IRC Parameters
irc_params = {
    'nick' : 'OperSync',
    'host' : 'irc.interlinked.me',
    'port' : 6667,
    'channels' : ['#test'],
    'blocking' : False,
    'threaded' : False,
}

## host/port to bind to
binding = ('', 61600)

## Authenticated users/passwords
# Anything crypt() accepts is acceptable for password
users = {
    'meow' : '$1$$prnD4NEq0c0.W3wuF1gEh1',
}

## Oper username and password (optional)
opername = 'OperSync'
operpw = 'dongs'

## Users authorised to use commands
authorised = {x for x in users.keys()}

## Certificate file for listening
cert_file = 'server.crt'

## Key file for listening
key_file = 'server.key'
